.tab_page{padding: 40px;}
.tab_page .tab_wrap h1{font-size: 2rem;}
.tab_page .tab_wrap h1::after{content:"";background: red; width: 100%; display: block; height: 20px; margin-top: 10px;}

.ui_tab{font-size: 1.6rem;}
.ui_tab ul{display:flex;text-align:center;justify-content:space-around;}
.ui_tab ul li{}
.ui_tab ul li a{display:flex;padding:0 10px;}
.ui_tab ul li.active{display:block; color: red;}

.tab_panel{display: none;}