@charset "utf-8";

@import url('font.css');
 
/* reset */
*, :after, :before {background-repeat:no-repeat;box-sizing:border-box}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;tab-size:4}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, sub, sup, tt, var,  u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block; }
ol, ul{list-style:none; }
blockquote, q{quotes:none; }
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none; }
table{border-collapse:collapse; border-spacing:0; }
img, picture, video, canvas, svg {max-width:100%;height: auto;vertical-align:top;}
a{background-color:transparent;text-decoration:none; color:inherit;}
a:active, a:hover{outline:0; }
[hidden], template{display:none; }
sub, sup{font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup{top:-0.5em; }
sub{bottom:-0.25em; }
small{font-size:80%; }
code, kbd, pre, samp{font-family:monospace, monospace; font-size:1em; }
button, input, optgroup, select, textarea{color:inherit; font:inherit;  margin:0;-webkit-border-radius:0;border-radius:0;border:0}
button, 
html input[type="button"], 
input[type="reset"], 
input[type="submit"]{/*-webkit-appearance:button;*/cursor:pointer;padding:0;background:transparent;}
button[disabled], 
html input[disabled]{cursor:default; }
input[type="search"]::-webkit-search-cancel-button, 
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none; }
input[type="search"]{/*-webkit-appearance:textfield;*/box-sizing:content-box; }
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button{height:auto; }
input[type="checkbox"], input[type="radio"]{box-sizing:border-box; padding:0; }
input{line-height:normal; }
textarea {-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:transparent;border:0;word-break:keep-all;word-wrap:break-word}

html{font-size:62.5%;  -webkit-text-size-adjust:100%;;-webkit-overflow-scrolling: touch;-ms-overflow-style: none; /* 인터넷 익스플로러 */scrollbar-width: none; /* 파이어폭스 */ }
body{font-size:1.6rem; font-family: 'Pretendard', sans-serif; line-height:1.5;-webkit-font-smoothing:antialiased;word-wrap: break-word;word-break: keep-all;-webkit-overflow-scrolling: touch;letter-spacing:-0.75px;background:#000;color: #333;}
body *{font-family: 'Pretendard', sans-serif;}

.mgt3{margin-top: 3px;}
.mgt4{margin-top: 4px;}
.mgt5{margin-top: 5px;}
.mgt10{margin-top: 10px;}
.mgt12{margin-top: 12px;}
.mgt13{margin-top: 13px;}
.mgt14{margin-top: 14px;}
.mgt15{margin-top: 15px;}
.mgt20{margin-top: 20px;}
.mgt25{margin-top: 25px;}
.mgt30{margin-top: 30px;}
.mgt40{margin-top: 40px;}
.mgt45{margin-top: 45px;}
.mgt50{margin-top: 50px;}
.mgt60{margin-top: 60px;}

.mgb3{margin-bottom: 3px;}
.mgb4{margin-bottom: 3px;}
.mgb5{margin-bottom: 3px;}
.mgb10{margin-bottom: 10px;}
.mgb12{margin-bottom: 12px;}
.mgb13{margin-bottom: 13px;}
.mgb14{margin-bottom: 14px;}
.mgb15{margin-bottom: 15px;}
.mgb20{margin-bottom: 20px;}
.mgb25{margin-bottom: 25px;}
.mgb30{margin-bottom: 30px;}
.mgb40{margin-bottom: 40px;}
.mgb45{margin-bottom: 45px;}
.mgb50{margin-bottom: 50px;}
.mgb60{margin-bottom: 60px;}

 
.t-center{text-align: center;}


.container{max-width:375px;margin:0 auto;min-height:100vh;position:relative;background-color:#fff;}
/* .container header{height:44px;background:url(../images/header.png) 0 center no-repeat;background-size:auto 100%;} */
.container .page-wrap{padding:20px 20px 150px;}
.container .page-wrap.type2{position: relative; padding:40px 20px 260px; background-color: #F4F4F4;}
.container .page-wrap.type2 .setting{position: absolute;width: 93px;left: 50%;transform: translateX(-50%);bottom: 196px;}

/* 상단 알림 */
.alram-box{position: relative;display: flex; justify-content: space-between; padding: 16px 20px;align-items: center;} 
.alram-box .toggle-tab a{font-size: 12px; padding: 6px 10px; line-height: 100%;}
.alram-box img:nth-child(2){width: 130px;height: 24px; transform-origin: right; margin-right:-13px;animation:alramBanner1 0.5s cubic-bezier(0.1, 0.5, 0.22, 1) forwards,alramBanner2 .7s 0.3s cubic-bezier(0.1, 0.5, 0.22, 1) infinite; opacity: 0;}
.alram-box img:nth-child(3){width: 104px; height: 28px;}
.alram-box .benefit{position: absolute;top: 15px;right: 95px;width: 31px;height: 32px;}
.alram-box .wallet{position: absolute;top: 15px;right: 56px;width: 31px;height: 32px;}
.alram-box .allmenu{position: absolute;top: 15px;right: 16px;width: 31px;height: 32px;}
@keyframes banner{0%{opacity: 0;}100%{opacity: 1;}}
@keyframes alramBanner1{0%{width: 0; height: 0; opacity: 1; transform: translateY(0px) rotate(6deg)}100%{width:  130px; height: 28px; opacity: 1; transform: translateY(0px) rotate(0deg);transition: 0.5s;}}
@keyframes alramBanner2{0%, 100%{width:  130px; height: 28px; opacity: 1; transform: translateY(0px) rotate(360deg)}50%{width:  130px; height: 28px; opacity: 1; transform: translateY(0px) rotate(358deg)}}
.wallet-box .home-bt,
.aiset-box .home-bt {position:absolute;width:45px;height:40px;top:10px;right:10px;left:auto;}
/* 하단 메인 네비게이션 */
nav{ position: fixed;bottom: 0;width: 375px; height: 90px; left: 50%;transform: translateX(-50%);background: #fff;border-radius: 12px 12px 0 0;fill: #FFF;filter: drop-shadow(0px -4px 8.3px rgba(0, 0, 0, 0.12)); z-index: 100;}
nav ul {position: absolute;bottom: 0;display: flex;justify-content: space-around;height: 90px;width: 100%;align-items: flex-start; padding-top: 13px;}
nav ul li {width: 75px;text-align: center; }
nav ul li a{display: flex;width: 100%;height: 100%;flex-direction: column;align-items: center;}
nav ul li a i {display: block;width: 24px; height: 24px; background-size: 100% auto;}
nav ul li a span{color: #D8D8D8; font-size: 11px; font-weight: 500; margin-top: 4px;}
nav ul li a i.on + span{color: #333;}
nav ul li a i.home{ background: url(../images/nav-home.png) no-repeat center / contain;} 
nav ul li a i.home.on{ background: url(../images/nav-home-on.png) no-repeat center / contain;  } 
nav ul li a i.goods{ background: url(../images/nav-goods.png) no-repeat center / contain;} 
nav ul li a i.goods.on{ background: url(../images/nav-goods-on.png) no-repeat center / contain;} 
nav ul li a i.ai{ width: 52px; height: 52px; background: url(../images/nav-ai.png) no-repeat center / contain; margin-top: -4px;} 
nav ul li a i.ai.on{ background: url(../images/nav-ai-on.gif) no-repeat center / contain;} 
nav ul li a i.lounge{ background: url(../images/nav-lounge.png) no-repeat center / contain;} 
nav ul li a i.lounge.on{ background: url(../images/nav-lounge-on.png) no-repeat center / contain;} 
/* nav ul li a i.allmenu{ background: url(../images/nav-allmenu.png) no-repeat center / contain;} 
nav ul li a i.allmenu.on{ background: url(../images/nav-allmenu-on.png) no-repeat center / contain;} */
nav ul li a i.assets{background: url(../images/nav-assets.png) no-repeat center / contain;} 
nav ul li a i.assets.on{background: url(../images/nav-assets-on.png) no-repeat center / contain;}

/* animation, 탭 */
.interaction{position: relative; top: 50px; opacity: 0; display: block; transition: all .6s ease-in-out;}
.interaction.on{animation: interaction 1s ease-in-out ;opacity: 1; top: 0;}
.tab-panel{display: none;}
.tab-panel.active{display: block;}

/* 토글 탭 */
.toggle-tab{display: flex;justify-content: center;align-items: center;background: #F7F7F7;border-radius: 20px;}        
.toggle-tab a {display: block; color: #9F9F9F; padding: 7.5px 17.5px; border-radius:20px; font-size: 14px; font-weight: 700; letter-spacing: -0.12px; line-height: 17px; transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);}
.toggle-tab div.active a{background-color: #114287; color: #fff;}

.scroll::-webkit-scrollbar {display: none;}
.scroll {-ms-overflow-style: none; /* 인터넷 익스플로러 */scrollbar-width: none; /* 파이어폭스 */}

/* 로딩 */
.update-wrap{position: relative;}
.center-lo{display: none; width:50%;margin: 0 auto;text-align: center;position: absolute;top: 150px;left: 50%;transform: translate(-50%, -50%);z-index: 100;}
.center-lo.on{display: block;}
.dot{display: inline-block;width: 10px;height: 10px;background-color: gray;border-radius: 50%;animation: loding 1s 0s linear infinite;}
.dot:nth-child(1){background-color: #F67314;animation-delay: 0s;}
.dot:nth-child(2){background-color: #1D74E8 ;animation-delay: 0.2s;}
.dot:nth-child(3){background-color: #3B41ED ;animation-delay: 0.4s;}
@keyframes loding {0%,100%{opacity: 0;transform: scale(0.5);}50%{opacity: 1;transform: scale(1.2);}}